{% extends 'appName/base.html' %} {% load static %} {% block content %}

<ul class="boxes">
        <p></p>
</ul>
<form action="" method="post">
        {% csrf_token %} {% for question in questions %}
        <div id="question_{{ question.id }}" class="questionBox">
                <p>{{ question.question_text }}</p>
                <input type="radio" class="radioButton" name="{{ question.id }}" id="{{ question.id }}_yes" value="yes"
                        required data-nextquestion="{{ question.next_question_when_yes }}"
                        data-nextsolution="{{ question.solution_when_yes }}" />
                <label for="{{ question.id }}"> yes </label>
                <input type="radio" class="radioButton" name="{{ question.id }}" id="{{ question.id }}_no" value="no"
                        required data-nextquestion="{{ question.next_question_when_no }}"
                        data-nextsolution="{{ question.solution_when_no }}" />
                <label for="{{ question.id }}"> no </label>
        </div>
        {% endfor %} {% for solution in solutions %}
        <div id="solution_{{ solution.id }}" class="solutionBox" data-solutionname="{{ solution.solution_content }}">
                <p>{{ solution.solution_content }}</p>
        </div>
        {% endfor %}
        <button class="sendButton">回答</button>
</form>
<div id="history_box">
</div>

<script type="text/javascript" src="{% static 'js/question.js' %}"></script>

{% endblock %}